{% extends "tasks/base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="card register-card">
    <h2>Register</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-lg text-white">Register</button>
        </div>
    </form>

    <div class="text-center mt-3">
        Already have an account? <a href="{% url 'login' %}">Back to Login</a>
    </div>
</div>
{% endblock %}
